* {
    background-color: yellow;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    color: black;
}

ol, ul {
    width: 50%;
}

ul {
    display: inline-block;
    text-align: left;
    padding: 0;
    list-style: none;
}